
<!-- Header-->
<header class="bg-dark py-5 band">
    <div class="container px-4 px-lg-5 my-5 ">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder mt-5 pt-5">Welcome to MangaWorld</h1>
            <p class="lead fw-normal text-white-100 mb-0 slogan">A place where every page tells a story </p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    @if(isAdmin){
        
        <div class="container px-4 px-lg-5 mt-5 cont-btn">
            <h2>Hi!, you are an admin. As Admin, you can administrate:</h2>
            <div class="text-center boton">
                <a class="btn see-more" routerLink="/category">Categories</a>
            </div>
            <div class="text-center boton">
                <a class="btn see-more" routerLink="#">Users</a>
            </div>
            <div class="text-center boton">
                <a class="btn see-more" routerLink="/product">Products</a>
            </div>
            <div class="text-center boton">
                <a class="btn see-more" routerLink="#">Regions</a>
            </div>
        </div>
    }@else {
        <div class="container px-4 px-lg-5 mt-5">
            <div class="mb-5"><h2>The popular ones...</h2></div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
                @for(product of products; track product; let i = $index ) {
                    <div class="col mb-5">
                        <div class="card h-100" (click)="showDetail(product.gtin)">
                            <!-- Product image-->
                            <img class="card-img-top" [src]="product.image" alt="..." />
                            <!--img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.product}}</h5>
                                    <!-- Product price-->
                                    ${{product.price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="add-cart-container"><a class="btn btn-cart btn-outline" href="#"><i class="ph ph-shopping-bag"></i> <span>Add to cart</span></a></div>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        </div>
        <div class="text-center boton">
            <button class="btn see-more" (click)="seeMore()">See more</button>
        </div>
    }
    
</section>

<!-- Footer-->
<section>
<footer class="py-5 bg-dark footer">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Mangaworld 2024</p></div>
</footer>
</section>

