<nav class="navbar navbar-expand-lg nav" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand brand-text" href="#">
            <img src="assets/images/manga-world-logo.png" class="nav-logo" alt="MangaWorld logo">
            Manga World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Categories</a>
                    <div class="dropdown-menu nav-dropdown-menu">
                        @for(category of categories; track category){
                        <a class="dropdown-item nav-dropdown-item"
                            [routerLink]="['/product', category.category_id, category.category]">{{ category.category
                            }}</a>
                        }
                    </div>
                </li>

                @if(isAdmin){
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Admin</a>
                    <div class="dropdown-menu nav-dropdown-menu">
                        <a class="dropdown-item nav-dropdown-item" routerLink="/category">Categories</a>
                        <a class="dropdown-item nav-dropdown-item" routerLink="#">Users</a>
                        <a class="dropdown-item nav-dropdown-item" routerLink="/product">Products</a>
                        <a class="dropdown-item nav-dropdown-item" routerLink="#">Regions</a>
                        <a class="dropdown-item nav-dropdown-item" routerLink="/invoice">Invoices</a>
                    </div>
                </li>
                }

            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn" type="submit">Search</button>
            </form>

            @if(loggedIn){
            <a class="nav-link" routerLink="#" role="button">
                @if(!isAdmin){
                <i class="ph ph-shopping-bag" (click)="goToCart()"></i>
                @if(cartQuantity > 0){
                <span class="badge">{{cartQuantity}}</span>

                }
                }
            </a>
            }@else{
            <ul class="navbar-nav">
                <a class="nav-link nav-register" (click)="showRegisterModal()">Register</a>
            </ul>
            }

            <ul class="navbar-nav">

                @if(loggedIn){
                <li class="nav-item dropdown user-information">

                    <!-- user logo  -->

                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="ph ph-user"></i>
                    </a>

                    <!-- user options -->

                    <div class="dropdown-menu nav-dropdown-menu nav-dropdown-menu-user">
                        <a class="dropdown-item nav-dropdown-item" routerLink="#">Profile</a>
                        <a class="dropdown-item nav-dropdown-item" routerLink="#">Profile Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item nav-dropdown-item" (click)="logout()">Log Out</a>
                    </div>
                </li>
                }@else {
                <a class="nav-link" (click)="showLoginModal()">Sign In</a>
                }


            </ul>

        </div>
    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="loginModal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Login component  -->

                <app-login></app-login>

            </div>
        </div>
    </div>
</div>

<!-- Register Modal -->

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="registerModal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Register component  -->

                <app-register (registerEvent)="handleRegistrationSuccess($event)"></app-register>

            </div>
        </div>
    </div>
</div>