<div class="container">
  
    <div class="row">
      <div class="title">
        <button class="btn btn-back" (click)="goBack()">
          <i class="ph ph-arrow-left"></i>
          <span> Go back</span>
        </button>
        <h1 class="title">{{product.product}}</h1>

      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="details-label" for="gtin">GTIN </label>
          <p  class="paragraph">{{product.gtin}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="details-label " for="price">Price</label>
          <p class="paragraph">$ {{product.price}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="details-label" for="stock">Product stock</label>
          <p class="stock paragraph">{{product.stock}}</p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="details-label" for="category_id">Category</label>
          <p class="paragraph">{{category}}</p>
        </div>
      </div>
      <div class="mb-3">
        <label class="details-label" for="description">Product description</label>
        <p class="paragraph">{{product.description}}</p>
      </div>
    </div>
  <button class="btn" (click)="editarProducto()">
    <i class="ph ph-note-pencil icon-text-ul"></i> Edit
  </button>
</div>


<!-- Modal form  -->

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content size-body">
      <div class="modal-header">
        <h5 class="modal-title">Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Product form  -->

        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="fm">


          <div class="row">

            <!-- gtin  -->

            <div class="col-md-6">
              <div class="mb-3">
                <label for="gtin">GTIN <span class="color-red">*</span> </label>
                <input type="text" class="form-control" formControlName="gtin" id="gtin"
                  placeholder="Product's GTIN code..."
                  [ngClass]="{'is-invalid': form.controls['gtin'].errors && submitted}">
                @if (form.controls['gtin'].errors && submitted) {
                <small class="input-error-message">Please write a valid gtin code</small>
                }
              </div>
            </div>

            <!-- product  -->

            <div class="col-md-6">
              <div class="mb-3">
                <label for="product">Product <span class="color-red">*</span> </label>
                <input type="text" class="form-control" formControlName="product" id="product"
                  placeholder="Product Name..."
                  [ngClass]="{'is-invalid': form.controls['product'].errors && submitted}">
                @if (form.controls['product'].errors && submitted) {
                <small class="input-error-message">Please write a valid product name, product name contains only
                  letters</small>
                }
              </div>
            </div>

            <!-- price  -->

            <div class="col-md-6">
              <div class="mb-3">
                <label for="price">Price <span class="color-red">*</span> </label>
                <input type="text" class="form-control" formControlName="price" id="price"
                  placeholder="Product price..." [ngClass]="{'is-invalid': form.controls['price'].errors && submitted}">
                @if (form.controls['price'].errors && submitted) {
                <small class="input-error-message">Please enter a valid price, price must be a decimal
                  number</small>
                }
              </div>
            </div>

            <!-- stock  -->

            <div class="col-md-6">
              <div class="mb-3">
                <label for="stock">Cantidad de productos <span class="color-red">*</span> </label>
                <input type="text" class="form-control" formControlName="stock" id="stock"
                  placeholder="Product's stock..."
                  [ngClass]="{'is-invalid': form.controls['stock'].errors && submitted}">
                @if (form.controls['stock'].errors && submitted) {
                <small class="input-error-message">Please enter a valid stock value, must be only a number</small>
                }
              </div>
            </div>

            <!-- category_id  -->

            <div class="col-md-6">
              <div class="mb-3">
                <label for="category_id">Category <span class="color-red">*</span> </label>
                <select class="form-select" formControlName="category_id" id="category_id"
                  [ngClass]="{'is-invalid': form.controls['category_id'].errors && submitted}">
                  <option [ngValue]=null hidden>Select a category...</option>
                  @for(category of categories; track category) {
                  <option [ngValue]="category.category_id">{{ category.category }}</option>
                  }
                </select>
                @if (form.controls['category_id'].errors && submitted) {
                <small class="input-error-message">Pelase select a valid category</small>
                }
              </div>
            </div>

            <!-- description  -->

            <div class="mb-3">
              <label for="description">Description <span class="color-red">*</span> </label>
              <textarea rows="2" class="form-control" formControlName="description" id="description"
                placeholder="Descripción del producto..."
                [ngClass]="{'is-invalid': form.controls['description'].errors && submitted}">
                        </textarea>
              @if (form.controls['description'].errors && submitted) {
              <small class="input-error-message">Please enter a valid description, must contains only
                letters</small>
              }
            </div>
          </div>

          <!-- button  -->

          <div class="form-button">
            <button type="submit" class="btn modal-btn btn-primary btn-new">Save</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>