<div class="container">

    <div class="d-flex justify-content-center h-50">

        <div class="user_card">

            <div class="d-flex justify-content-center">

                <div style="margin-top: 10px;margin-bottom:-90px;">

                </div>

            </div>

            <div class="d-flex justify-content-center form_container">

                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                    <div class="input-group mb-3">

                        <div class="input-group-append">

                            <span class="input-group-text"><fa-icon [icon]="usernameIcon"></fa-icon></span>

                        </div>

                        <input type="text" class="form-control" name="username" placeholder="Username"
                            formControlName="username" required>

                    </div>

                    <span class="help-block" style="color:red;" *ngIf="fg.username.invalid && fg.username.touched">Enter
                        your username</span>

                    <div class="input-group mb-2">

                        <div class="input-group-append">

                            <span class="input-group-text"><fa-icon [icon]="passwordIcon"></fa-icon></span>

                        </div>

                        <input type="password" class="form-control" name="password" placeholder="Password"
                            formControlName="password" required>

                    </div>

                    <span class="help-block" style="color:red;" *ngIf="fg.password.invalid && fg.password.touched">Enter
                        yout password.</span>

                    <div class="d-flex justify-content-center mt-3 login_container">

                        <button type="submit" [disabled]="loginForm.invalid || showLoading" name="button"
                            class="btn login_btn">
                            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                            <span *ngIf="showLoading">Loading...</span>
                            <span *ngIf="!showLoading" class="login-button-text">Login</span>

                        </button>

                    </div>

                </form>

            </div>

            <div class="mt-4">

                <div class="d-flex justify-content-center links">

                    Do you need an account? <a routerLink="/register" class="ml-2"
                        style="color: #9d6ed3; margin-left:1px;"> Sign up</a>

                </div>

            </div>

        </div>

    </div>

</div>