<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center"><strong>Categories</strong></h3>
    </div>
    <div class="card-body">


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Category_id</th>
            <th scope="col">Acronym</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary">
            <td>1</td>
            <td>TECH</td>
            <td>Technology</td>
            <td>Active</td>
          </tr>
          <tr class="table-default">
            <td>2</td>
            <td>LIT</td>
            <td>Literature</td>
            <td>Inactive</td>
          </tr>
          <tr class="table-primary">
            <td>3</td>
            <td>FOOD</td>
            <td>Food & Beverage</td>
            <td>Active</td>
          </tr>
          <tr class="table-default">
            <td>4</td>
            <td>HEAL</td>
            <td>Health & Wellness</td>
            <td>Active</td>
          </tr>
          <tr class="table-primary">
            <td>5</td>
            <td>ART</td>
            <td>Arts & Crafts</td>
            <td>Inactive</td>
          </tr>

        </tbody>
      </table>


    </div>
  </div>
</div>