<section class="bg-dark">
    <nav>
        <div class="span-container color-blue">
            <span class="navbar-text mb-0 h1 text-bav">
                MangaWorld</span>

        </div>

    </nav>
    <div class="card-container">
        <div class="card bg-dark">
            <div class="card-header clearfix">
                <div class="header-container">
                    <h3 class="text-center"><strong>Categories</strong></h3>

                </div>
                <div class = "align-button">
                    <button type="button" class="btn btn-dark" (click)="showModal()">New Category</button>
                </div>
            </div>
            <div class=" card-body">


                <table class="table table-striped">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">Category_id</th>
                            <th scope="col">Acronym</th>
                            <th scope="col">Category</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <!-- <tbody *ngFor="let item of categories"> -->
                    <tbody>
                        @for (item of categories; track item){
                        <tr class="table-default text-white">
                            <td>{{item.category_id}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.acronym}}</td>
                            <td>{{item.status == 1 ? "Active" : "Inactive"}}</td>
                        <tr>
                            }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
    <div class="modal fade" id="categoryFormModal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content size-body">
                <div class="modal-header">
                    <h5 class="modal-title">New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="fm">
                        
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" formControlName="category"
                                placeholder="Category Name" [ngClass]= "{'is-invalid': form.controls['category'].errors && submitted}" >

                            @if (form.controls['category'].errors && submitted){
                                <small class="input-error-message">Please  enter a valid category.</small>
                            }

                        </div>
                        <div class="mb-3">
                            <label for="acronym" class="form-label">Acronym</label>
                            <input type="text" class="form-control" id="acronym" formControlName="acronym"
                                placeholder="Category Acronym" [ngClass]= "{'is-invalid': form.controls['acronym'].errors && submitted}" >

                            @if (form.controls['acronym'].errors && submitted){
                                <small class="input-error-message">Please  enter a valid acronym.</small>
                            }

                        </div>
                        <div class="form-button">
                            <button type="submit" class="btn modal-btn btn-primary btn-new">Agregar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>