.card-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.card {
    padding: 20px;
    margin-top: 20px;
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

.card-header {
    background-color: #89b9f0;
    padding: 10px;
    margin-bottom: 20px;
}

.color-blue {
    background-color: #9889f0;
}