.band{
    height: 500px;
    /*Center vertically*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230321/pngtree-sky-purple-manga-style-image_1949748.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slogan{
    font-size: 2rem;
    padding-top: 50px;
    margin-top: 50px;
}

.see-more{
    background-color: #a364ff;
    padding:10px ;
}

.see-more:hover{
    background-color: #5f48e2;
}

.boton{
    padding-bottom:20px;
}